/* reset css code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0eded;
}

.mt-2 {
  margin-top: 0.5rem;
}

.container {
  display:flex;
  flex-direction: column;
  height:100vh;
  margin: 0 1rem; 
}

/* Header css */
.header{
  padding: 1rem;
}

/* main css */
.main{
  display: flex;
  flex-wrap: wrap;  
}

/* seft section css */
.main .left-section{ 
  flex: 15%;
}

.content{
  background-color:#fff;
  padding:0.5rem;
}

.left-section .filter-heading{
  position: relative;
  text-align: center;
  padding: 0.5rem 0;
}

.left-section .filter-heading::before{
  content: '';
  position: absolute;
  height: 1px;
  background: #ddd;
  width: 70%;
  bottom: 0;
  right: 16%;
}

.filter-btn{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.filter-btn .btn{
  position: relative;  
  display: inline-block;
  text-align: center;    
  cursor: pointer;
  font-size: 1rem;
  margin: 0.25rem 0;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

input[type="radio"]{
  display: none;
} 

input[type="radio"] + span{
  display: block;
  background-color: lightgreen;
  border: 1px solid lightgreen;
  padding: 0.375rem .75rem;
  border-radius: 0.25rem;
}

input[type="radio"]:checked + span{
  background: #42ce42;
  border: 1px solid #42ce42;
}

.filter-btn .btn:hover,
.filter-btn .btn:active{
  background-color: #42ce42;
  border-radius: 0.25rem;
}

/* Right section css */
.main .right-section{
  margin-left: 1rem;
  flex: calc(85% - 1rem);
}

.data-content{
  display: flex;
  flex-wrap: wrap;
}

.data-content .card{
  background-color:#fff;
  margin: 0 0.5rem 1rem;
  padding: 0.5rem 1rem;
  width: calc(25% - 1rem);
}

.data-content .card .image-block{
  background: #f5f2f2;
  width: 100%;
  height: 200px;
  overflow:hidden;
}

.data-content .card .image-block img{
  max-width: 100%;
  max-height: 100%;
  display:block;
  margin: auto;
}

.skeleton{
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: .7rem;
  margin-bottom: .25rem;
  border-radius: .125rem;
}

.skeleton-text:first-child,
.skeleton-text:last-child {
  margin-bottom: 0;
  width: 80%;
}

@keyframes skeleton-loading{
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.data-content .card .mission-name {
  color : rgb(60, 57, 214);
  font-weight: bold;
  margin: 0.5em 0;
}

footer{
  text-align: center;
  font-weight: 600;
  padding: 1rem 0;
}

/* responsive */

@media only screen and (max-width: 1024px){
  .left-section{
    flex: 30% !important;
  }

  .right-section{
    flex: calc(70% - 1rem) !important;
  }
  .right-section .data-content .card{
    width: calc(50% - 1rem) !important;
  }

	.filter-btn .btn{
    padding: .375rem .5rem !important;
  }
}

@media only screen and (max-width: 576px){

  .left-section, .right-section{
    flex: 100% !important;
  }

  .filter-btn{
    padding: 1.5rem 2.75rem;
  }

  .filter-btn .btn{
    margin: 0.25rem 0.5rem !important;
    width: calc(50% - 1rem);
  }

  .right-section{
    margin: 1rem 0 !important;
  }

  .right-section .data-content .card{
    width: 100% !important;
    margin: 0.5rem 0 !important;
  }

}

